@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-bg {
  transition: box-shadow 0.5s, background-color 0.5s;
}

.gap-style-dot::after {
  content: "\00B7";
  margin-left: 5px;
}
